:root {
    --primary-color: #c93b3b;
    --secondary-color: #111111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

.cotainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}


.btn{
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-secondary{
    border: 1px solid  var(--primary-color);
}

.btn-secondary:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.section-subheading{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-heading{
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

.section-heading.left{
    margin-right: auto;
}


.section-heading.right{
    margin-left: auto;
}

/*html{

    scroll-behavior: smooth;
    overflow: hidden;
}*/



body{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary-color);
}

section{
    position: relative;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}


header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}

.header_menue{
    gap: 1rem;
}

.header_menue li a {
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s;
}

.header_menue li a:hover{
    color: var(--primary-color);
}

header .right{
    gap: 1rem;
}

#home{
    min-height: 100vh;
}
 
.home_contant{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_contant h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

.home_contant p{
   font-size: 1.2rem; 
   font-weight: 300;
   margin-bottom: 1rem;
}

.home_img{
    width: 100%;
}


.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.feature{
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid var(--color);
}

@media  screen and (max-width:768px) {
    
}