body {
    background-color: #E06666;
    margin: 1px;
}

/* chat container*/

.chatcontainer{
    
    background-color: cornsilk;
    width: auto;
    height: auto;
    float: right;
    margin-top: 320px;
    border: #7a3b3b solid;
}

.chatt{
    position: fixed;
}
.chattext{

   width: 75%;
   height: 10%; 
   margin-top: 250px;
   margin-left: 10px;
}

.send{
    height: 10%;
    width: 15%;
    
}

/*play board*/

.playbord{
    position: relative;
    background-color: #f1c232 ;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    border: brown solid;
}

.card{

    background-color: #990000;
    border: black solid 1px;
}

/*--------------------player1 cards-------------------*/
.one{
    position: absolute;
    float: right;
    width: 60px;
    height: 80px; 
      
}

#o1{
    left: 550px;
}
#o2{
    left: 500px;
}
#o3{
    left:450px;
}
#o4{
    left: 400px;
}
#o5{
    left:350px;
}
.pic1{

    width: 40px; 
    height: 40px; 
    transform: scaleY(-1);
    margin-left: 10px;
    margin-top: 20px;
}

/*------------------player2 cards--------------------*/
.two{
    position: absolute;
    left: 839px;
    width: 80px;
    height: 60px;
    
}
#t1{
    top:370px;
}
#t2{
    top:320px;
}
#t3{
    top:270px;
}
#t4{
    top:220px;
}
#t5{
    top:170px;
}
.pic2{
    width: 40px; 
    height: 40px;
    transform: rotate(-90deg);
    margin-left: 20px;
    margin-top: 10px;
}

/*----------------------player3 cards----------------*/
.three{
    position: absolute;
    top: 537px;
    width: 60px;
    height: 80px;  
}
#th1{
    left: 550px;
}
#th2{
    left: 500px;
}
#th3{
    left:450px;
}
#th4{
    left: 400px;
}
#th5{
    left:350px;
}
.pic3{
    width: 40px; 
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;  
}

/*----------------------player4 cards----------------------*/
.four{
    position: absolute;
    width: 80px;
    height: 60px;
}

#f1{
    top:370px;
}
#f2{
    top:320px;
}
#f3{
    top:270px;
}
#f4{
    top:220px;
}
#f5{
    top:170px;
}
.pic4{
    width: 40px; 
    height: 40px;
    transform: rotate(90deg);
    margin-left: 20px;
    margin-top: 10px;
      
}

/*-----------------------main card --------------------------*/
.five{
    position: fixed;
    top: 250px;
    left: 400px;
    width: 90px;
    height: 110px;
    text-align: center;
    font-size: larger;
    background-color: aliceblue;
    border: black solid 1px;
    
}
/*---------------card color---------------------------------*/
.five.red{
    color: #990000;
    
}
.five.black{
    color: black;
}
.five.green{
    color: green;
}
.five.blue{
    color: blue;
}
.five.pink{
    color: pink;
}
.five.purple{
    color: purple;
}
.five.orange{
    color: orangered
}
.five.yellow{
    color: yellow;
}
/*----------------background color--------------------------------------*/
.five.Red{
    background-color: #990000;
}
.five.White{
    background-color: white;
}
.five.Green{
    background-color: green;
}
.five.Blue{
    background-color: blue;
}
.five.Pink{
    background-color: pink;
}
.five.Purple{
    background-color: purple;
}
.five.Orange{
    background-color: orangered
}
.five.Yellow{
    background-color: yellow;
}

.choice{
    position: absolute;
    width: 60px;
    background-color: #dfd9d9;
    height: 30px;
}
#choice1{
    top:450px;
    left: 300px;
}

#choice2{
    top:450px;
    left: 390px;
}

#choice3{
    top:450px;
    left: 480px;
}

#timer{
    background-color: white;
    width: 60px;
    text-align: center;
    font-size: 30px;

}
